@model IEnumerable<LagerSystem.Models.CategoryViewModel>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentCount)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Category", new { shelf = item.Name})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentCount)
        </td>
    </tr>
}

</table>
<p>@Html.ActionLink("Back to Store", "Index")</p>